body {
  margin: 0;
}

#logo img {
  height: 100px;
  width: 100px;
}

nav {
  background: #8287ab;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0017f5;
}

#logo {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px;
}

.nav-list {
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
  width: calc(100% - 200px);
  list-style: none;
}

.nav-list-item {
  display: inline-block;
  font-size: 1.5em;
  padding: 0 10px;
}

.nav-list-item a {
  text-decoration: none;
}

.nav-list-item a:visited {
  color: #0017f5;
}

.nav-list-item a:hover {
  color: #4b517e;
}

main {
  background: #4b517e;
  height: 90vh;
  color: #b8b440;
}

main h1 {
  margin-top: 0;
  padding: 2em;
}